{{!-- <style>
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }



  .d-flex {
    display: flex;
    flex-direction: row;
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 25px;
  }

  form {
    flex: 4;
  }

  .Yorder {
    flex: 2;
  }

  .title {
    background-color: antiquewhite;
  }

  h2 {
    margin: 0;
    padding-left: 15px;
  }

  .required {
    color: red;
  }

  label,
  table {
    display: block;
    margin: 15px;
  }

  label>span {
    float: left;
    width: 25%;
    margin-top: 12px;
    padding-right: 10px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select {
    width: 70%;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    color: #888;
  }

  select {
    width: 72%;
    height: 45px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .Yorder {
    margin-top: 15px;
    height: 600px;
    padding: 20px;
    border: 1px solid #dadada;
  }

  table {
    margin: 0;
    padding: 0;
  }

  th {
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
  }

  tr>td:nth-child(1) {
    text-align: left;
    color: #2d2d2a;
  }

  tr>td:nth-child(2) {
    text-align: right;
    color: #52ad9c;
  }


  p {
    display: block;
    color: #888;
    margin: 0;
    padding-left: 25px;
  }

  .Yorder>div {
    padding: 15px 0;
  }

  .main-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #52ad9c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }

  .delete-button {
    width: 5rem;
    margin-left: 4rem;
    border-radius: 1rem;
  }
</style> --}}
<style>
  td {
    border-bottom: 1px solid #dadada;

    text-align: center;
  }
</style>

<section class="section">
  <div class="row " style="display: flex;
  align-items: center;
  justify-content: center">
    <div class="col-lg-9 col-12 " style="margin-top: 5rem;margin-left:19rem ;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">OrderManage-Table</h5>
          <!-- Default Table -->
          <table class=" orderTable  table-bordered">
            <thead>
              <tr class="align-middle">
                <th class="align-middle">NO.</th>
                <th class="align-middle">Order-Id</th>
                <th class="align-middle">Adress</th>
                <th class="align-middle">Amountt</th>
                <th class="align-middle">Status</th>
                <th class="align-middle">Payment-method</th>
                <th class="align-middle">Manage</th>
              </tr>
            </thead>
            <tbody>
              {{#each OrderDetails}}
              <tr>
                <td class="create_index"></td>
                <td><span class="badge text-bg-dark">{{this._id}}</span></td>
                <td class="align-middle">
                  <h6>Adress:{{this.deliveryDetails.address}}</h6>
                  <h6>City:{{this.deliveryDetails.city}}</h6>
                  <h6>state:{{this.deliveryDetails.State}}</h6>
                  <h6>Pincode{{this.deliveryDetails.pincode}}</h6>
                  <h6>Mobile{{this.deliveryDetails.Mobile}}</h6>
                </td>
                <td>₹ {{this.totalAmount}}</td>
                <td><span class="badge text-bg-secondary">{{this.status}}</span></td>
                <td>{{this.PaymentMethod}}</td>
                <td>
                  {{#if this.retured}}
                  <p class="text-success">*Chech order Status</p>
                  <select onchange="changeStatus('{{this._id}}')" name="orderstatus" id="{{this._id}}">
                    <option selected value="{{this.status}}">change Status</option>
                    <option value="Placed">Placed</option>
                    <option value="Shipped">Shipped</option>
                    <option value="On the Way">On the Way</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Cancelled">Cancelled</option>
                  </select>
                  {{else}}
                  {{#if this.msg}}
                  {{#if this.cstCancel}}
                  <div class="width:10rem">
                    <p class="text-danger">Order canceld by customer before delivery</p>
                  </div>
                  {{else}}
                  {{#if this.CancelRefund}}
                  <p style="color: green;"> Cancel refund successfull</p>
                  {{else}}
                  <div class="width:2rem">
                    <h6 class="text-danger" style="width:10rem;">Product cancel by customer</h6>
                    <a style="" class="login-trigger btn btn-dark" href="#" data-target="#login{{this._id}}"
                      data-toggle="modal">Refund</a>
                    <div id="login{{this._id}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <button data-dismiss="modal" class="close">&times;</button>
                            <h4>Refund</h4>
                            <form action="/admin/CancelRE" method="post">
                              <h4 style="color: red;"><span>Amount:{{this.totalAmount}} /- </span></h4>
                              <input type="number" name="Amount" class="password form-control"
                                value="{{this.totalAmount}}" hidden />
                              <input type="text" name="info" class="password form-control" value="canceled refund"
                                hidden />
                              <input type="text" name="userId" class="password form-control" value="{{this.userId}}"
                                hidden />
                              <input type="text" name="orderid" class="password form-control" value="{{this._id}}"
                                hidden />
                              <button class="btn btn-dark" type="submit">Refund</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/if}}
                  {{/if}}
                  {{else}}
                  {{#if Returnrefund}}
                  <p style="color: green;"> Return refund successfull</p>
                  {{else}}
                  <div class="width:2rem">
                    <h6 class="text-info" style="width:10rem;">Product retured by customer</h6>
                    <a style="" class="login-trigger btn btn-dark" href="#" data-target="#log{{this._id}}"
                      data-toggle="modal">Refund</a>
                    <div id="log{{this._id}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <button data-dismiss="modal" class="close">&times;</button>
                            <h4>Refund</h4>
                            <form action="/admin/ReturnRe" method="post">
                              <h4 style="color: red;"><span>Amount:{{this.totalAmount}} /- </span></h4>
                              <input type="number" name="Amount" class="password form-control"
                                value="{{this.totalAmount}}" hidden />
                              <input type="text" name="info" class="password form-control"
                                value="prodcut Returnd Refund" hidden />
                              <input type="text" name="userId" this class="password form-control"
                                value="{{this.userId}}" hidden />
                              <input type="text" name="orderid" class="password form-control" value="{{this._id}}"
                                hidden />
                              <button class="btn btn-dark" type="submit">Refund</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/if}}
                  {{/if}}
                  {{/if}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <div class="pagination" style="margin-right:48rem;margin-top: 2rem;">
            <a href="#">&laquo;</a>
            {{#each NofPage}}
            <div class="bg-primary">
              <a href="/admin/order-manage?data={{this}}">{{this}}</a>
            </div>
            {{/each}}
            <a href="#">&raquo;</a>
          </div>
        </div>
</section>
<script>
  var divs = document.querySelectorAll('.create_index'); for (var i = 0; i <
    divs.length; ++i) { divs[i].innerHTML = i + 1; }

  function Openform() {
    event.preventDefault();
    document.getElementById('popupform').style.display = "block";
  }
</script>
<style>
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }

  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }
</style>